@if(isAuthorized) {
<div class="app-container">
  <app-market-assets-picker />
  <div class="app-container__block">
    <span class="app-container__block_title">Market data:</span>
    <app-market-data class="app-container__block_content" />
  </div>
  <div class="app-container__block">
    <span class="app-container__block_title">Charting data:</span>
    <app-charting-data class="app-container__block_content" />
  </div>
</div>

} @else {
  <app-login-form
    (login)="login($event)"
  ></app-login-form>
<!-- <div class="app-container__empty-content">
  <mat-spinner diameter="50"></mat-spinner>
</div> -->
}
